.about-me{
	display: flex;
	flex-wrap: wrap;
	@media (max-width: $tablet){
		flex-direction: column;
	}
	article{
		margin-bottom: 35px;
		&.myself{
			display: flex;
			justify-content: center;
			align-items: center;
		}
		@media (min-width: $tablet){
			&.description{
				flex-basis: 51%;
			}
			&.illustration{
				flex-basis: 49%;
			}
			&.who-iam{
				order: 1;
			}
			&.myself{
				order: 2;
			}
			&.myskills{
				order: 3;
			}
			&.what-ilove{
				order: 4;
			}
		}
		figure{
			@media (min-width: $tablet){
				transition: all 0.5s ease-in-out;
				transform: rotate(9deg);
				&:hover{
					@include rotate(0);
				}
			}
		}
		p{
			line-height: 25px;
			font-size: 17px;
			text-align: justify;
		}
	}
}

.skills{
	@media (min-width: $mobile){
		width: 85%;
	}
	li{
		height: 40px;
		line-height: 40px;
		text-align: right;
		padding-right: 20px;
		&:nth-child(odd){
			background: $brandcolor;
			color: $white;
		}
		&:nth-child(even){
			background: #E7E7E7;
			color: #666;
		}
	}
}

.social-media{
	li{
		float: left;
		width: percentage(1/3);
		padding-right: 10px;
		padding-bottom: 10px;
		&:nth-child(3n){
			padding-right: 0;
		}
		@media (max-width: $tablet){
			width: percentage(1/2);
			&:nth-child(2n){
				padding-right: 0;
			}
			&:nth-child(3){
				padding-right: 10px;
			}
		}
		@media (max-width: $mobile){
			width: 100%;
			padding-right: 0;
			&:nth-child(3n){
				padding-right: 0;
			}
		}
		a{
			display: block;
			color: $white;
			line-height: 40px;
			&:hover .social-image{
				margin-left: 13px;
				margin-right: -2px;
			}
			&:hover{
					.label{
						top: -100%;
					}
			}
		}
		.social-image{
			height: 40px;
			width: 40px;
			float: left;
			background-repeat: no-repeat;
			background-position: center center;
			transition: all 0.3s ease-out;
			background-size: 32px 32px;
		}
		.twitter{
			background: $twitter;
			.social-image{
				background-image: url(../img/twitter.svg);
			}
		}
		.facebook{
			background: $facebook;
			.social-image{
				background-image: url(../img/facebook.svg);
				
			}
		}
		.gplus{
			background: $gplus;
			.social-image{
				background-image: url(../img/googleplus.svg);
			}
		}
		.linkedin{
			background: $linkedin;
			.social-image{
				background-image: url(../img/linkedin.svg);
			}
		}
		.skype{
			background: $skype;
			.social-image{
				background-image: url(../img/skype.svg);
				
			}
		}
		.instagram{
			background: $instagram;
			.social-image{
				background-image: url(../img/instagram.svg);
			}
		}
		.hover-move {
			display: block;
			height: 40px;
			line-height: 40px;
			overflow: hidden;
			position: relative;
			.label{
					display: block;
					height: 100%;
					position: relative;
					top: 0%;
					width: 100%;
					background: none !important;
					transition: top 0.35s ease-out 0.4s;
			}
		}
	}
}