#my-map{
  height: 460px;
  width: 100%;
  background: $darkLight;
  position: absolute;
  @media (max-width: $tablet){
    display: none;
  }
}
#contact-form{  
  width: 52%;
  float: right;
  background: $white;
  opacity: 0.95;
  border: 1px solid #D2D0CE;
  margin: 80px 4% 40px 2%;
  padding: 14px 30px 30px 30px;
  @media (max-width: $tablet){
    width: 100%;
    margin: 0;
    border: none;
    padding: 0 2.5%;
  }
  input{
    width: 100%;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid $textboxBorderColor;
    padding-top: 18px;
    transition: 0.2s;
    -webkit-appearance: none;
    border-radius: 0;
    &:focus{
      outline: none;
      border-bottom-color: $brandcolor;
    }
  }
  textarea{
    width: 100%;
    min-height: 300px;
    padding-top: 18px;
    font-size: 20px;
    resize: vertical;
    border: none;
    border-bottom: 1px solid $textboxBorderColor;
    -webkit-appearance: none;
    border-radius: 0;
    &:focus{
      outline: none;
      border-bottom-color: $brandcolor;
    }
  }
  input[type=submit]{
    width: 180px;
    border: none;
    font-size: 18px;
    margin-top: 10px;
    @extend .link-btn;
  }
}
.form-wrap{
  position: relative;
  margin: 20px 0;
  label{
    position: absolute;
    left: 0;
    font-size: 14px;
    color: #999;
    left: 0;
    transition: 0.2s;
    top: 0;
  }
}
input:focus + label,
textarea:focus + label{
  color: $brandcolor;
}
input:invalid + label,
textarea:invalid + label{
  top: 12px;
  opacity: 0;
}

.contact-info{
  float: right;
  width: 42%;
  margin-top: 500px;
  @media (max-width: $tablet){
    width: 100%;
    padding: 25px 2%;
    margin-top: 0;
  }
  @media (max-width: $mobile){
    padding-bottom: 0;
  }
  li{
    float: left;
    width: 190px;
    text-align: center;
    margin-bottom: 25px;
    @media (max-width: $tablet){
      width: 49%;
      text-align: left;
      margin-bottom: 0;
      &:first-child{
        margin-right: 2%;
      }
    }
    @media (max-width: $mobile){
      width: 100%;
      &:first-child{
        margin-bottom: 15px;
      }
    }
  }
}


.contact-me{
  display: inline-block;
  color: $brandcolor;
  @media (max-width: $tablet){
    display: block;
    color: $white;
    background-color: $brandcolor;
    line-height: 75px;
  }
  .contact-icon{
    @include circle(120px);
    @include transition(all, 0.275s, ease-in-out);
    margin: 0 auto 10px;
    background-color: $brandcolor;
    text-align: center;
    @media (min-width: $tablet){
      line-height: 120px;
    }
    @media (max-width: $tablet){
      float: left;
      width: 70px;
      height: 75px;
      margin: 0;
      @include borderRadius(0);
    }
    svg{
      overflow: visible;
      vertical-align: middle;
      &.envelop{
        transform: scaleY(1);
        transition: all 0.5s;
        .open{
          transition: all 0.5s;
        }
      }
    }
  }
  @media (min-width: $tablet){
    span{
      border-bottom: 1px solid $white;
      padding-bottom: 0;
      @include transition(all, 0.275s, ease-in-out);
    }
    &:hover{
      span{
        padding-bottom: 4px;
        border-color: $brandcolor;
        @media (max-width: $tablet){
          padding-bottom: 0;
          border-bottom: none;
        }
      }
      .contact-icon{
        box-shadow: 0 0 0 7px $white, 0 0 0 8px $brandcolor;
        .envelop{
          transform: scale(1.1, 1.1) translateY(5px);
          .open{
            transform: scaleY(-1);
          }
        }
        .mobile{
          animation: shake 0.1s infinite;
        }
        @media (max-width: $tablet){
          box-shadow: none;
        }
      }
    }
  }
}