#footer-wrap{
  background: $footerBackground;
  border-top: 1px solid #e7e7e7;
  margin-top: 40px;
}
footer{
  padding-bottom: 10px;
  @media (max-width: $tablet){
    text-align: center;
  }
  li{
    display: inline-block;
    margin-right: 10px;
  }
}
.used-skills{
  float: left;
  margin-top: 45px;
  @media (max-width: $tablet){
    display: none;
  }
  li{
    img{
      height: 31px;
    }
  }
  p{
    float: left;
    color: #666;
    margin-top: 0;
  }
}
#footer-connect{
  float: right;
  margin-top: 30px;
  @media (max-width: $tablet){
    float: none;
    margin-bottom: 25px;
  }
  p{
    color: #666;
    margin-top: 0;
  }
  li{
    a{
      display: block;
      height: 42px;
      width: 42px;
      background-color: $footerLinkBackground;
      @include transition(all, 0.5s, ease-in);
      &:hover{
        &.stackoverflow{
          background-color: $stackoverflow;
        }
        &.twitter{
          background-color: $twitter;
        }
        &.facebook{
          background-color: $facebook;
        }
        &.linkedin{
          background-color: $linkedin;
        }
      }
    }
  }
}
#copy-right{
  float: left;
  clear: left;
  margin-top: 10px;
  color: #666;
  @media (max-width: $tablet){
    float: none;
  }
}