header{
  padding: 0 15px;
  @include boxsizing;
  @media (max-width: $tablet){
    padding: 0;
    text-align: center;
  }
  @media (max-width: $mobile){
    border-bottom: 1px solid #eee;
  }
}
#logo{
  float: left;
  @media (max-width: $tablet){
    display: inline-block;
    float: none;
  }
  @media (max-width: $mobile){
    float: left;
  }
  h2{
    font-size: 35px;
    color: $baseFontColor;
    margin: 45px 0 0 0;
    @include transition(all);
    @media (max-width: $tablet){
      margin: 10px 0;
    }
    @media (max-width: $mobile){
      margin: 5px 10px;
    }
    &:hover{
      color: $brandcolor;
    }
  }
}

input[type=checkbox]{
  display: none;
  &:checked{
    + .menu-icon{
      background-color: $brandcolor;
      .menu-line{
        background-color: $white;
      }
    }
    ~ nav{
      height: 200px;
    }
  }
}

.menu-icon{
  display: none;
  @media (max-width: $mobile){
    display: block;
    float: right;
    cursor: pointer;
    height: 50px;
    width: 50px;
    padding: 15px;
    border-left: 1px solid #eee;
    &:hover{
      background: lighten($brandcolor, 5%);
      .menu-line{
        background-color: $white;
      }
    }
    .menu-line{
      float: left;
      height: 4px;
      width: 100%;
      background-color: $brandcolor;
      margin-bottom: 4px;
    }
  }
}

nav{
  display: flex;
  justify-content: flex-end;
  @media (max-width: $tablet){
    width: 100%;
  }
  @media (max-width: $mobile){
    flex-direction: column;
    height: 0;
    overflow: hidden;
    transition: height 0.4s ease-in-out;
  }
  a{
    height: 40px;
    padding: 60px 15px 0;
    color: $baseFontColor;
    font-size: 18px;
    position: relative;
    box-sizing: content-box;
    transition: all 0.3s;
    @media (max-width: $tablet){
      padding-top: 20px;
      text-align: center;
      flex: 1;
    }
    @media (max-width: $mobile){
      border-top: 1px solid $white;
      height: 30px;
      text-align: left;
      padding: 10px 15px 0;
      background-color: #E16D65;
      color: #fff;
      font-size: 16px;
    }
    &:after{
      content: "";
      z-index: -1;
      background: lighten($brandcolor, 5%);
      width: 100%;
      height: 0;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.3s;
    }
    &:hover,
    &:active{
      color: $white;
      &:after{
        height: 100%;
      }
    }
    &.active{
      color: $white;
      background: $brandcolor;
    }
  }
}