#intro-wrap{
  background: #F1F1F1;
  border-bottom: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
}
#introduction{
  padding: 100px 0 60px;
  text-align: center;
  @media (max-width: $tablet){
    padding: 60px 0;
  }
  @include boxsizing;
  h1{
    color: #999;
    font-size: 42px;
    font-family: Helvetica;
    font-weight: bold;
    text-shadow: 0 1px 4px $white;
    text-align: center;
    line-height: 52px;
    letter-spacing: -2px;
    margin: 0 2%;
    @media (max-width: $tablet){
      font-size: 32px;
      line-height: 35px;
      margin-top: 15px;
    }
    #name{
      color: $brandcolor;
      font-size: 104%;
    }
    #country{
      color: #666;
      display: none;
    }
    #city{
      color: #666;
    }
  }
}
#quote{
  width: 0;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  border-right: 1px solid #999;
  color: #999;
  font-size: 18px;
  @include animation('typequote 5s steps(35, end) forwards', 'stoptype 0.1s ease-out 5.1s forwards');
  @media (max-width: $tablet){
    font-size: 14px;
  }
  @media (max-width: $tablet){
    display: none;
  }
  &:before{
    content: "\201C";
  }
  &:after{
    content: "\201D"
  }
}
.services{
display: flex;
justify-content: space-around;
@media (max-width: $tablet){
  flex-direction: column;
}
article{
  // flex: 1;
  width: percentage(1/3) - 4%;
  // padding: 0 2%;
  margin: 50px 0;
  // float: left;
  text-align: center;
  cursor: pointer;
  @include boxsizing;
  &:last-child h2{
    @media (max-width: $mobile){
      width: 155px;
    }
  }
  &:hover{
    img{
      opacity: 1;
    }
    h2{
      color: inherit;
    }
    a{
      background-color: $btnHover;
    }
    svg{
      path{
        fill: #666;
      }
    }
  }
  @media (max-width: $tablet){
    width: 100%;
    text-align: left;
    margin: 15px 0;
    &:first-child{
      margin-top: 40px;
    }
    &:last-child{
      margin-bottom: 40px;
    }
  }
  @media (max-width: $mobile){
    border-top: 1px solid #999;
    padding: 20px 15px;
  }
  svg{
    width:200px;
    max-width: 100%;
    @media (max-width: $tablet){
      width: 25%;
      float: left;
    }
    path{
      fill: #8d8d8d;
      @include transition(fill, 0.275s, ease-in-out);
    }
  }
  &:last-child{
    svg{
      width:250px;
      margin-top:20px;
      @media (max-width: $tablet){
        width: 25%;
        float: left;
        margin-top: 0;
      }
    }
  }
  img{
    opacity: 0.75;
    @include transition(opacity, 0.275s, ease-in-out);
    @media (max-width: $tablet){
      width: 25%;
      float: left;
    }
  }
  h2,
  p{
    @media (max-width: $tablet){
      float: left;
      width: 75%;
      margin: 3px 0;
      padding-left: 20px;
      @include boxsizing;
    }
  }
  h2{
    color: #7f7f7f;
    @include transition(color, 0.275s, ease-in-out);
    @media (max-width: $mobile){
      background-color: $white;
      width: 140px;
      margin: -34px auto 0;
      float: none;
      text-align: center;
      font-size: 20px;
      padding: 0;
    }
  }
  a{
    margin-top: 5px;
    @include transition(background-color, 0.275s, ease-in-out);
    @media (max-width: $tablet){
      display: none;
    }
  }}
}

.clients{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  h2{
    flex-basis: 100%;
    text-align: center;
    &:before,
    &:after{
      content: '';
      position: relative;
      display: inline-block;
      width: 50%;
      height: 1px;
      vertical-align: middle;
      background-color: #333;
    }
    &:before{
      right: 15px;
      margin: 0 0 0 -50%;
    }
    &:after{
      left: 15px;
      margin: 0 -50% 0 0;
    }
  }
  img{
    margin: 10px;
  }
}

@include keyframes(typequote) {
  0%   { width: 0; }
  100% { width: 555px;}
}
@include keyframes(stoptype) {
  100% { border-right: none;}
}