html,
body{
  margin: 0;
  padding: 0;
}
hr{
  border: none;
  border-top: 1px solid #DDD;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
img{
  max-width: 100%;
}

// Google map controller
.gmnoprint img {
    max-width: none; 
}
:invalid {
  box-shadow: none;
}
:-moz-submit-invalid {
  box-shadow: none;
}
:-moz-ui-invalid {
  box-shadow:none;
}