@include fontFace($fontName, $fontPath, $fontFile, $baseFontWeight);
*{
  @include boxsizing;
}
body{
    border-top: 5px solid $brandcolor;
    color: #333333;
    font-family: $sourcesans;
    @media (max-width: $tablet){
      border-top: none;
    }
}
header,
section,
aside,
footer{
  margin: 0 auto;
  width: 90%;
  overflow: hidden;
  @media (max-width: $tablet){
    width: 100%;
  }
}
section{
  @media (max-width: $tablet){
    padding: 0 10px;
  }
}
aside{
  @extend section;
}
.hide{
  display: none;
}
.link-btn{
  display: inline-block;
  color: $linkBtnColor;
  background: $linkBtnBg;
  padding: 8px 15px;
  cursor: pointer;
  &:hover{
    background: $linkBtnBgHover;
  }
}
.title{
  @media (min-width: $mobile){
    display: none;
  }
}
.thumbnail{
  width: 200px;
  height: 200px;
  padding: 10px 10px 35px 10px;
  text-align: center;
  border: 1px solid #e7e7e7;
  box-sizing: content-box;
  img{
    width: 100%;
  }
}