// ---- ---- ---- ---- VARIABLES ---- ---- ---- ---- //
$white: #fff;
$darkLight: #eee;
$brandcolor: #E16D65;
// $lightGray
// $darkGray
$footerBackground: $darkLight;
$footerLinkBackground: #ccc;

$twitter: #39A9E0;
$facebook: #3B5998;
$gplus: #D14836;
$linkedin: #007FB1;
$skype: #00AFF0;
$instagram: #3F729B;
$stackoverflow: #F69C55;

// Media queray break point
$largeScreen: 1100px;
$tablet: 768px;
$mobile: 480px;

// Typography
$fontName: 'Source Sans Pro';
$fontPath: "../fonts";
$fontFile: 'SourceSansPro';
$baseFontWeight: 400;
$baseFontColor: #333;
$sourcesans: $fontName, Helvetica, Arial, serif;

// button
$btnColor: $brandcolor;
$btnHover: darken($btnColor,5%);

// Link button
$linkBtnColor: $white;
$linkBtnBg: $btnColor;
$linkBtnBgHover: darken($btnColor,5%);

// Forms
$textboxBorderColor: #ccc;
$textboxBorderColorActive: $brandcolor;