/* ==================================================
    Project : Kuttu Player
    URL:  http: //www.athimannil.com/player/
    Description:  HTML5 Player with custom controller
    Author:  Muhammed Athimannil
    Author URL:  http: //www.athimannil.com/about.php
    Version: 1.0
=================================================== */

@import 'mixins';
@import 'variables';

$backgroundcolor: #353535;
$black: #000;
$played: #E16D65;
$buffered: #2B2627;

#skinn{
	overflow: hidden;
	position: relative;
	video{
		width: 100%;
		height: auto;		
	}
	video::-webkit-media-controls {
	  display:none !important;
	}
	video::-webkit-media-controls-enclosure {
	  display:none !important;
	}
}
::-moz-full-screen #skinn {
  width: 100%;
  height: 100%;
}

#skinn::full-screen {
  width: 100%;
  height: 100%;
}

#skinn::-moz-full-screen {
  width: 100%;
  height: 100%;
}

#skinn::-webkit-full-screen {
  width: 100%;
  height: 100%;
}

#controller{
	width: 100%;
	height: 35px;
	background-color: $backgroundcolor;
	color: $white;
	position: absolute;
	bottom: -100%;
	left: 0;
	z-index: 2147483647;
	@include transition(all, 2s, ease, 1s);
	> div{
		float: left;
		width: 35px;
		height: 100%;
	}
	.time{
		width: 40px;
		cursor: default;
		text-align: center;
		font-size: 11px;
		line-height: 36px;
	}
	#seekbar{
		height: 10px;
		margin: 13px 5px;
		background-color: $black;
		position: relative;
		cursor: pointer;
		@include css3-calc(width, '100% - 195px');
		#played{
			width: 0;
			height: 10px;
			background-color: $played;
			position: absolute;
			z-index: 3;
		}
		#loaded{
			width: 0;
			height: 10px;
			background-color: $buffered;
			position: absolute;
			z-index: 2;
		}
	}
	#speaker{
	  float: left;
	  height: 100%;
	  width: 100%;
	}
	#voumecontrol{
		height: 80px;
		width: 50%;
		float: left;
		background-color: #353535;
		cursor: default;
		padding: 5px 6px;
		position: absolute;
		left: 9px;
		bottom: -100px;
		margin-bottom: 6px;
		opacity: 0;
		@include boxsizing;
		@include transition(all, 0s, ease, 1s);
		&:after{
			content: "";
			width: 0;
			display: block;
			margin: auto;
			border-style: solid;
			border-width: 6px 6px 0;
			border-color: #353535 transparent;
			position: absolute;
			right: 0;
			bottom: -6px;
			left: 0;
		}
		#volumeposition{
		  background-color: #2B2627;
		  height: 100%;
		  width: 100%;
		  position: relative;
		  cursor: pointer;
		}
		#volumenow{
		  background-color: $white;
		  position: absolute;
		  bottom: 0;
		  width: 100%;
		  height: 0;
		}
	}
}
#skinn{
	&:hover{
		#controller{
			bottom: 0;
			@include transition(all, 0.5s, ease, 0s);
		}
	}
}
#volume{
	position: relative;
	&:hover{
		#voumecontrol{
			bottom: 100%;
			opacity: 1;
			@include transition(bottom, 0s, ease, 0s);
		}
	}
}
/* icon */
.icon{
	position: relative;
	cursor: pointer;
	background-color: $backgroundcolor;
	span{
		position: static;
	}
	&:hover{
		background-color: $buffered;
	}
	&:after,
	&:before{
  	content: "";
	  width: 0;
	  height: 0;
	  position: absolute;
	  top: 0;right: 0;bottom: 0;left: 0; 
	  margin: auto;
	}
	// Play icon
	&.play{
		&:before{
			border-width: 8px 0 8px 14px;
			border-style: solid;
			border-color: transparent transparent transparent $white;
		}
	}
	// Pause icon
	&.pause{
		&:before{
			height: 16px;
			width: 14px;
			background: $white;
		}
		&:after{
			width: 4px;
			height: 16px;
			background-color: $backgroundcolor;
 		}
	}
	// speaker
	&.speaker{
		span{
			&:before,
			&:after{
				top:50%;
				background: $white;
			}
			&:before{
				left: -10px;
				border: 7px solid transparent;
				border-right-color: $white;
				margin-top: -7px;
				background: transparent;
			}
			&:after {
				left: -8px;
				width: 4px;
				height: 6px;
				margin-top:-3px;
			}
		}
		&:before{
			top:50%;
			width: 6px;
			height: 6px;
			-webkit-border-radius: 0 15px 0 0;
			   -moz-border-radius: 0 15px 0 0;
			        border-radius: 0 15px 0 0;
			@include rotate(45);
	  }
		&.volume-max:before {
		    left: 16px;
		    margin-top: -6px;
		    border: 4px double $white;
		    border-width: 6px 6px 0 0;
		}
		&.volume-mid:before {
		    left: 9.1px;
		    margin-top: -4px;
		    border: 4px solid $white;
		    border-width: 2px 2px 0 0;
		}
		&.volume-mute:before,
		&.volume-mute:after{
			margin: 0;
			background-color: $white;
			@include rotate(45);
		}
		&.volume-mute:before{
			left: 25px;
			top: 13px;
			width: 2px;
			height: 10px;
			@include border-radius(0);
		}
		&.volume-mute:after{
			top: 17px;
			left: 21px;
			height: 2px;
			width: 10px;
		}
	}
	&.tofullscreen{
		span{
			&:before,
			&:after{
				z-index: 10;
				width: 5px;
				height: 0;
				border-width: 0 7px 7px;
				border-style: solid;
				border-color: transparent $white;
				background: transparent;
				margin: -8px 0 0;
				margin-top:- 8px;
				margin-left: 8px;
				top: 50%;
			}
			&:after{
				border-width:7px 7px 0;
				margin-top:3px;
			}
		}
		&:before,
		&:after{
			width:3px;
			height:8px;
			border: 10px solid $white;
			border-width:5px 0;
			margin-top: -8px;
			top: 50%;
		}
		&:before{
			@include rotate(45);
 		}
		&:after{
			@include rotate(45);
		}
	}
	&.toscreen{
		span{
			&:before,
			&:after{
				top: 50%;
				left: 2px;
				width: 6px;
				border-width: 5px;
				border-style: solid;
				border-color: transparent $white;
				margin-top: -5px;
				background: transparent;
			}
			&:before{
				@include rotate(-45);
			}
			&:after{
				@include rotate(45);
			}
		}
		&:before,
		&:after{
			top: 50%;
			width: 3px;
			height: 14px;
			border: 5px solid $white;
			border-width:5px 0;
			margin-top:-12px;
		}
		&:before{
			@include rotate(45);
		}
		&:after{
			@include rotate(-45);
		}
	}
}












